:root {
  font-size: 18px;
  line-height: 130%;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --accent: #8774EA;
  --dark: #18181A;
}

input {
  padding: 17px 30px;
  text-align: left;
  outline: 0;
  border: 1px solid rgba(24, 24, 26, 0.25);
  border-radius: 4px;
  font: inherit;
  color: inherit;
  width: 433px;
}

button {
  outline: 0;
  border: none;
  font: inherit;
  color: inherit;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
}

button {
  padding: 17px 30px;
  background: #8774EA;
  border-radius: 4px;
  width: 493px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

img {
  display: block;
  max-width: 100%;
}

ul, ol {
  list-style: none;
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

body {
  margin: 0;
  min-width: 320px;
  font-family: 'Poppins', sans-serif;
}

html, body {
  height: 100%;
}

#root {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

.wrapper {
  font-size: 16px;
  color: #18181A;
}

.header, .start {
  background: linear-gradient(90deg, #FEFCFF 1.04%, rgba(190, 193, 200, 0.6) 100%);
}

.container {
  margin: auto;
  max-width: 1210px;
  padding: 0px 20px;
}

.header__container {
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.header__menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 50px;
}

.header__item {
  transition: all .3s ease-in-out;
}

.header__item:hover {
  color: var(--accent);
}

input {
  outline: 0;
  background: transparent;
  font-size: 16px;
  border: 1px solid rgba(24, 24, 26, 0.25);
  border-radius: 47px;
}

input:focus {
  border-color: var(--accent);
}

.header__search input {
  border-radius: 47px;
  padding: 11px 30px;
}

.start__container {
  padding: 100px 20px;
  padding-top: 60px;
}

.start__row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.start__content {
  flex: 0 1 53%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  font-size: 18px;
}

.start__title-subtitle {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.start__title {
  font-weight: 500;
  font-size: 64px;
  line-height: 130%;
}

.start__subtitle {
  font-size: 18px;
  line-height: 27px;
  width: 413px;
}

.start__buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
}

.button {
  background: #8774EA;
  border-radius: 30px;
  padding: 15px 40px;
  color: #fff;
  transition: all .3s ease-in-out;
}

.button:hover {
  transform: scale(1.02);
}

.start__more {
  display: flex;
  align-items: center;
  gap: 15px;
  transition: all .3s ease-in-out;
}

.start__more:hover {
  color: var(--accent);
}

.start__social {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 50px;
  margin-top: 190px;
}

.start-socials {
  display: flex;
  align-items: center;
  gap: 30px;
}

.start-social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  padding: 14.5px;
  border-radius: 30px;
  background: #FEFCFF;
  transition: all .3s ease-in-out;
}

.popular-items__container  {
  padding: 100px 20px;
}

.popular-items__header {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.popular-items__title {
  font-weight: 500;
  font-size: 48px;
  line-height: 130%;
}

.popular-items-list {
  margin-top: 50px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 50px;
}

.popular-items-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

.popular-items-list__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 5px;
  text-align: center;
}

.popular-items-list__discount {
  color: #EB5757;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
}

.popular-items-list__price {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-weight: 500;
  font-size: 25px;
  line-height: 130%;
}

.items__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular-items__search {
  border-radius: 47px;
  padding: 11px 30px;
}

.popular-items__lines {
  margin-top: 50px;
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: flex-end;
}

.index-catalog {
  background: linear-gradient(90deg, #FEFCFF 1.04%, rgba(190, 193, 200, 0.6) 100%);
}

.subscribe {
  background: linear-gradient(90deg, #FEFCFF 1.04%, rgba(190, 193, 200, 0.6) 100%);
}

.subscribe__container {
  padding: 100px 20px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.subscribe__header {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  text-align: center;
}

.subscribe__title {
  font-weight: 500;
  font-size: 48px;
  line-height: 130%;
}

.subscribe__subtitle {
  font-size: 18px;
}

.subscribe__form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.button-reset {
  width: auto;
  padding: 0;
  background: transparent;
}

.subscribe__input {
  border-radius: 7px;
}

.product {
  background: linear-gradient(90deg, #FEFCFF 1.04%, rgba(190, 193, 200, 0.6) 100%);
}

.product__container {
  padding: 100px 20px;
}

.product__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  padding: 50px;
  border: 1px solid rgba(24, 24, 26, 0.25);
}

.product__img {
  flex: 1 0 324px;
}

.product__img img {
  height: 418px;
  width: 324px;
  object-fit: contain;
}

.product__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}

.product__title-subtitle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.product__title {
  font-weight: 500;
  font-size: 36px;
  line-height: 130%;
}

.product__subtitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
}

.product__price {
  font-weight: 500;
  font-size: 25px;
  line-height: 130%;
  color: #8774EA;
}

.product__buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.product__button  {
  width: 208px;
}

.catalog__header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.wrapper {
  position: relative;
}

.modal {
  opacity: 0;
  z-index: -1;
  position: fixed;
  right: 0;
  height: 100%;
  width: 33%;
  background-color: #fff;
  transition: all .3s ease-in-out;
}

.modal.active {
  opacity: 1;
  z-index: 10;
}

.modal__container {
  padding: 70px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 85%;
}

.modal__header {
  font-weight: 500;
  font-size: 48px;
  line-height: 130%;
}

.modal__lists {
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 455px;
}

.modal-image-content {
  display: flex;
  align-items: center;
  gap: 30px;
}

.modal__item {
  border: 1px solid rgba(24, 24, 26, 0.25);
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal__img {
  display: flex;
  align-items: center;
  height: 160px;
  width: 124px;
}

.modal__content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal-item__title {
  font-weight: 500;
  font-size: 25px;
  line-height: 130%;
}

.modal-item__price {
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  color: #8774EA;
}

.modal__content  {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 30px;
}

.modal__price {
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
}

.cart__button {
  cursor: pointer;
}

.modal-item__del {
  cursor: pointer;
}

.swiper-container {
  width: 100%;
}

@media (max-width: 1350px) {
  .modal {
    width: 60%;
  }
}

@media (max-width: 967px) {
  .start__row {
    flex-wrap: wrap-reverse;
  }
}

@media (max-width: 767px) {
  .subscribe__form {
    padding: 0px 30px;
  }
  .subscribe__input {
    width: 100%;
  }
  .subscribe__form  button {
    width: 100%;
  }
  .start__title {
    font-size: 48px;
  }
  .start__subtitle {
    width: 100%;
  }
  .modal {
    width: 100%;
  }
  .modal__container {
    padding: 20px;
  }
  .product__row {
    flex-wrap: wrap;
  }
}

@media (max-width: 480px) {
  .header__search input {
    width: 100%;
  }
  .product__img {
    flex: 1 0 100%;
  }
  .product__img img {
    height: 100%;
    width: 100%;
  }
}

.modal-title-close {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__close {
  cursor: pointer;
}

.user {
  padding: 100px 20px;
  background: linear-gradient(90deg, #FEFCFF 1.04%, rgba(190, 193, 200, 0.6) 100%);
}

.user__container {
  border: 1px solid rgba(24, 24, 26, 0.25);
}

.user__row {
  padding: 50px 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
}

.user__img img {
  width: 324px;
  height: 418px;
  object-fit: cover;
}

.user__info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.user__fullname {
  font-weight: 500;
  font-size: 36px;
  line-height: 130%;
}

@media (max-width: 480px) {
  .user__row {
    padding: 20px 0px;
  }
}